.center{
    text-align:center;
}
.tbl-principal{
    margin-top: 25px;
}
.sp-numero{
    padding: 5px;
    border: 1px solid #696969;
    border-radius: 50%;
    background-color: white;
    color: black;
}

/* Cores das células */
.cor-0{ background-color: #ffffff }
.cor-1{ background-color: #fafaff }
.cor-2{ background-color: #f8f8ff }
.cor-3{ background-color: #f6f6ff }
.cor-4{ background-color: #f4f4ff }
.cor-5{ background-color: #f2f2ff }
.cor-6{ background-color: #f0f0ff }
.cor-7{ background-color: #ebebff }
.cor-8{ background-color: #e5e5ff }
.cor-9{ background-color: #dedeff }
.cor-10{ background-color: #d8d8ff }
.cor-11{ background-color: #d0d0ff }
.cor-12{ background-color: #c9c9ff }
.cor-13{ background-color: #c4c4ff }
.cor-14{ background-color: #babaff }
.cor-15{ background-color: #b4b4ff }
.cor-16{ background-color: #ababff }
.cor-17{ background-color: #a1a1ff }
.cor-18{ background-color: #9a9aff }
.cor-19{ background-color: #9494ff }
.cor-20{ background-color: #8c8cff }
.cor-21{ background-color: #8080ff }
.cor-22{ background-color: #7474ff }
.cor-23{ background-color: #6b6bff; color: white }
.cor-24{ background-color: #6262ff; color: white }
.cor-25{ background-color: #5656ff; color: white }
.cor-26{ background-color: #4d4dff; color: white }
.cor-27{ background-color: #4545ff; color: white }
.cor-28{ background-color: #3c3cff; color: white }
.cor-29{ background-color: #3232ff; color: white }
.cor-30{ background-color: #2a2aff; color: white }
.cor-31{ background-color: #2828ff; color: white }
.cor-32{ background-color: #2323ff; color: white }
.cor-33{ background-color: #1b1bff; color: white }
.cor-34{ background-color: #1515ff; color: white }
.cor-35{ background-color: #0e0eff; color: white }
.cor-36{ background-color: #0909ff; color: white }
.cor-37{ background-color: #0505ff; color: white }
.cor-38{ background-color: #0000ff; color: white }
.cor-39{ background-color: #0000fc; color: white }
.cor-40{ background-color: #0000f9; color: white }
.cor-41{ background-color: #0000f6; color: white }
.cor-42{ background-color: #0000f2; color: white }
.cor-43{ background-color: #0000ee; color: white }
.cor-44{ background-color: #0000eb; color: white }
.cor-45{ background-color: #0000e7; color: white }
.cor-46{ background-color: #0000e3; color: white }
.cor-47{ background-color: #0000df; color: white }
.cor-48{ background-color: #0000db; color: white }
.cor-49{ background-color: #0000d7; color: white }
.cor-50{ background-color: #0000d3; color: white }
.cor-51{ background-color: #0000cf; color: white }
.cor-52{ background-color: #0000cb; color: white }
.cor-53{ background-color: #0000c7; color: white }
.cor-54{ background-color: #0000c3; color: white }
.cor-55{ background-color: #0000bf; color: white }
.cor-56{ background-color: #0000bb; color: white }
.cor-57{ background-color: #0000b7; color: white }
.cor-58{ background-color: #0000b1; color: white }
.cor-59{ background-color: #0000a8; color: white }